<% @games.each do |game| %>
  <p><%= link_to(game.name, game) %></p>
<% end %>

<div class="panel panel-default">
  <h4>Add a New Game</h4>
  <%= form_for @game do |f| %>
    <%= f.label :name, "Game Name:" %>
    <%= f.text_field :name %>
    <%= f.submit "New Game" %>
  <% end %>
</div>
