<h3><%= @game.name %></h3>

<div id="bowlers-list">
<% @players.each do |player| %>
  <div class="row" data-id="<%= player.id %>">
    <%= render partial: "player_frames", locals: {player: player} %>
  </div>
<% end %>
</div>

<div class="panel panel-default">
  <h4>Bowl!</h4>
  <div id="bowlers-forms">
  <% @players.each do |player| %>
    <%= render partial: "player_bowl_form", locals: {player: player, game: @game} %>
  <% end %>
  </div>
</div>

<div class="panel panel-default">
  <h4>Add a New Player</h4>
  <%= form_for [@game, Player.new], remote: true do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    <%= f.submit "Add a Player" %>
  <% end %>
</div>

<%= link_to("Return home!", games_path) %>
